<p id="notice"><%= notice %></p>

<p>
  <strong>Parent:</strong>
  <%= @lookup_direccion.parent %>
</p>

<p>
  <strong>Value:</strong>
  <%= @lookup_direccion.value %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @lookup_direccion.descripcion %>
</p>

<p>
  <strong>Type:</strong>
  <%= @lookup_direccion.type %>
</p>

<%= link_to 'Edit', edit_lookup_direccion_path(@lookup_direccion) %> |
<%= link_to 'Back', lookup_direccions_path %>
