<%= form_for(@direccion) do |f| %>
  <% if @direccion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@direccion.errors.count, "error") %> prohibited this direccion from being saved:</h2>

      <ul>
      <% @direccion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fk_id_persona %><br>
    <%= f.number_field :fk_id_persona %>
  </div>
  <div class="field">
    <%= f.label :provincia %><br>
    <%= f.number_field :provincia %>
  </div>
  <div class="field">
    <%= f.label :canton %><br>
    <%= f.number_field :canton %>
  </div>
  <div class="field">
    <%= f.label :distrito %><br>
    <%= f.number_field :distrito %>
  </div>
  <div class="field">
    <%= f.label :direccion_exacta %><br>
    <%= f.text_area :direccion_exacta %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
