<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @persona.nombre %>
</p>

<p>
  <strong>Primer apellido:</strong>
  <%= @persona.primer_apellido %>
</p>

<p>
  <strong>Segundo apellido:</strong>
  <%= @persona.segundo_apellido %>
</p>

<p>
  <strong>Fecha nacimiento:</strong>
  <%= @persona.fecha_nacimiento %>
</p>

<p>
  <strong>Correo electronico:</strong>
  <%= @persona.correo_electronico %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @persona.genero %>
</p>

<p>
  <strong>Cedula:</strong>
  <%= @persona.cedula %>
</p>

<p>
  <strong>Estado civil:</strong>
  <%= @persona.estado_civil %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @persona.telefono %>
</p>

<%= link_to 'Edit', edit_persona_path(@persona) %> |
<%= link_to 'Back', personas_path %>
