<%= form_for @persona do |f| %>
  <% if @persona.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@persona.errors.count, "error") %> prohibited this persona from being saved:</h2>

      <ul>
      <% @persona.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
      <div class="form-group">
        <%= f.label :nombre, for:"nombre1" %>
          <%= f.text_field :nombre, id:"nombre1", class:"form-control", size:"20", placeholder:"Nombre"  %>
      </div>
      <div class="form-group">
        <%= f.label :primer_apellido, for:"primer_apellido2" %>
          <%= f.text_field :primer_apellido, id:"primer_apellido2", class:"form-control", size:"20", placeholder:"Primer Apellido" %>
      </div>
      <div class="form-group">
        <%= f.label :segundo_apellido, for:"segundo_apellido3" %>
          <%= f.text_field :segundo_apellido, id:"segundo_apellido3", class:"form-control", size:"20", placeholder:"Segundo Apellido" %>
      </div>
      <div class="form-group">
        <%= f.label :fecha_nacimiento, for:"fn4" %> <br>
          <%= f.date_select :fecha_nacimiento, id:"fn4", class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :correo_electronico, for:"email" %>
        <%= f.text_field :correo_electronico, id:"email", class:"form-control", size:"20", placeholder:"correo@dominio.com" %>
      </div>
      <div class="form-group">
        <%= f.label :genero, for:"genero1" %> <br>
          <%= f.select(:genero, [['Masculino', 'm'], ['Femenino', 'f']],id:'genero1') %>
      </div>
      <div class="form-group">
        <%= f.label :cedula, for:"cedula" %>
          <%= f.text_field :cedula, id:"cedula", class:"form-control", size:"20", placeholder:"XXXXXXXXX" %>
      </div>
      <div class="form-group">
        <%= f.label :estado_civil%> <br>
          <%= f.select(:estado_civil, [['Soltero', '1'], ['Casado', '2'], ['Union Libre', '3'], ['Viudo', '4']],id:'genero1') %>
      </div>
      <div class="form-group">
        <%= f.label :telefono %>
          <%= f.text_field :telefono, class:"form-control", size:"50" %>
      </div>
      <div class="form-group">
        <%= f.submit "Guardar", class: "btn btn-default"%>
      </div>

<% end %>
