<p id="notice"><%= notice %></p>
<h1>Expediente: <%= @persona.nombre %> <%= @persona.primer_apellido %> <%= @persona.segundo_apellido %></h1>


<h2>Información General</h2>


<table class="table table-hover table-condensed table-striped"  height="5%" width="50%">
  <thead>
    <tr>
      <th>Fecha Nacimiento</th>
      <th>Correo Electronico</th>
      <th>Genero</th>
      <th>Cedula</th>
      <th>Estado Civil</th>
      <th>Telefono</th>
    </tr>
  </thead>

  <tbody>

      <tr>
        <td><%= @persona.fecha_nacimiento.strftime("%d-%m-%Y") %></td>
        <td><%= @persona.correo_electronico %></td>
        <td><%= @persona.genero == false ? "Femenino":"Masculino" %></td>
        <td><%= @persona.cedula %></td>
        <td><%= case @persona.estado_civil
            when 1
              @persona.genero == false ? "Soltera": "Soltero"
            when 2
              @persona.genero == false ? "Casada": "Casado"
            when 3
              "Union Libre"
            else
              @persona.genero == false ? "Viuda": "Viudo"
            end
         %></td>
         <td><%= @persona.telefono %></td>
      </tr>
  </tbody>
</table>
<%= link_to edit_persona_path(@persona), class: "btn btn-default" do %>
    <i class="fa fa-pencil">Editar Paciente</i>
<% end %>

<h2>Informacion Contacto</h2>
<table class="table table-hover table-condensed table-striped" height="5%" width="30%">
  <thead>
    <tr>
      <th>Telefono</th>
      <th>Nombre contacto</th>
      <th>Parentesco</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
  <%= render @persona.info_contactos%>
</tbody>
</table>

    <%= link_to new_persona_info_contacto_path(@persona),class: "btn btn-default" do %>
        <i class="fa fa-plus">Agregar Contacto</i>
    <% end %>
    <%= render "info_contactos/form" %>

    <br><br><br><br>
  <%= link_to personas_path, class: "btn btn-default" do %>
        <i class="fa fa-undo">Atras</i>
    <% end %>

    <script>
    function isToggled() {
          $(".agregarContacto").click(function(){
              $(".Contact-Btn").toggle();
          });
      });
    </script>
