<!DOCTYPE html>
<html>
<head>
  <title>Pacientes - Proyecto Daniel</title>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>

</head>
<body> 
    
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>
    <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="index.html" class="logo"><b>PACIENTES - PROYECTO DANIEL</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">

            </div>
            <div class="top-menu">
              <ul class="nav pull-right top-menu">
                    <li><a class="logout" href="login.html">Logout</a></li>
              </ul>
            </div>
        </header>

        <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-desktop"></i>
                          <span>Pacientes</span>
                      </a>
                      <ul class="sub">
                          <li><%= link_to 'Ingresar Paciente', new_persona_path %></li>
                          <li><%= link_to 'Buscar Paciente', personas_path %></li>
                          <li><a  href="Descargar Plantilla">Descargar Plantilla</li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-book"></i>
                          <span>Importar Pacientes</span>
                      </a>
                      <ul class="sub">
                          <li><%= link_to 'Importar Excel', new_persona_import_path %></li>
                          <li><a  href="Descargar Plantilla">Descargar Plantilla</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-tasks"></i>
                          <span>Reportes</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="form_component.html">Reporte sobre Z</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-th"></i>
                          <span>Data Tables</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="basic_table.html">Basic Table</a></li>
                          <li><a  href="responsive_table.html">Responsive Table</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class=" fa fa-bar-chart-o"></i>
                          <span>Graficos</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="morris.html">Reporte 1</a></li>
                          <li><a  href="chartjs.html">Reporte 2</a></li>
                      </ul>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->



      <section id="main-content">
          <section class="wrapper">
            <%= yield %>
          </section>
        </section>



</body>
</html>